* {
  font-family: 'IM Fell English', serif;
  word-spacing: 1px;
}

#by {
    font-size: smaller;
    font-style: italic;
}

#author {
    font-size: smaller;
}

#larger {
  font-size: larger;
  font-style: oblique;
}

#painting {
  font-style: italic;
}

img {
  width: 25%;
  float: right;
  margin-right: 25%;
}

.poem {
    margin-left: 5em;
}

q, blockquote {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

a.nav {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: #f1f1f1;
    color: black;
    font-family: 'IM Fell English', serif;
    word-spacing: 1px;
}