* {
  font-family: 'IM Fell English', serif;
  word-spacing: 1px;
}

.rhyme {
  display: block;
  float: right;
  margin-right: 40%;
}

.lot {
  display: block;
  float: right;
  margin-right: 20%;
}

q, blockquote {
  quotes: "\201C" "\201D" "\2018" "\2019";
}