* {
  font-family: 'IM Fell English', serif;
  word-spacing: 1px;
}

.spoken {
  font-family: 'IM Fell English', serif;
  font-size: 2em;
}

q, blockquote {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

a.nav {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: #f1f1f1;
    color: black;
    font-family: 'IM Fell English', serif;
    word-spacing: 1px;
}