* {
  font-family: 'IM Fell English', serif;
  word-spacing: 1px;
}

.p1 {
  line-height: 0.4em;
}

.p2 {
  line-height: 0.7em;
}

.p3 {
  line-height: 1em;
}

q, blockquote {
  quotes: "\201C" "\201D" "\2018" "\2019";
}