* {
  font-family: 'IM Fell English', serif;
  word-spacing: 1px;
}

.spoken {
  font-family: 'IM Fell English', serif;
  font-size: 2em;
}

q, blockquote {
  quotes: "\201C" "\201D" "\2018" "\2019";
}